*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
.container{
width: 100%;
max-width: 1400px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0 auto;


}
.card{
width: 400px;
height: 300px;

}
.card-photo{

width: 100%;
height: 100%;

}
.card-photo .img{
width: 100%;
height: 100%;
object-fit: cover;
cursor: pointer;
border-radius: 4px;
margin-top: 50px;


}
h1{
    background-color: #DAE4DF;
     float: left;
    width: 100%;
    margin: 0px 0px 0px;
    position: relative;
    padding: 45px 25px 10px;
    font-size: 22px;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    color: #000000af;
}
.text{

    background-color: #DAE4DF;
    float: left;
   width: 100%;
   margin: 0px 0px 0px;
   position: relative;
   padding: 25px 25px 100px;
   font-family: 'Open Sans', sans-serif;
   line-height: 26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.577);
    font-size: 17px;
}

.button{


    float: left;
   
    margin: 0px 0px 0px;
    width: 100%;
    font-size: 18px;
    color: #000000;
}
.button span:hover{
background-color: rgba(79, 159, 132, 0.745);

}

.button span{
background-color: #2b2d35db;
color: #DAE4DF;
    padding: 20px 73px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #FFF;
    line-height: 24px;
    text-align: center;
    font-family: Poppins, Helvetica, Arial, sans-serif;
font-size: 13px;
}